body {
    margin: 0px;
    background-color: #eee;
}

 form {
    width: 200px;
    height: 150px;
   
    margin: auto;
    pad: 20px;
    margin-top: 20px;
}

input {
padding: 5px;
font-size: 13px;
} 